certifi==2022.12.7
pytz==2022.7.1
setuptools==59.6.0
pyzmq==25.0.0
flatbuffers==23.1.21
packaging==23.0
attrs==22.2.0
aiofiles==22.1.0
pip==22.0.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
isoduration==20.11.0
libclang==15.0.6.1
pillow==9.4.0
ipython==8.10.0
jupyter-client==8.0.3
nbconvert==7.2.9
ipykernel==6.21.2
notebook==6.5.2
tornado==6.3.3
pyyaml==6.0
bleach==6.0.0
psutil==5.9.4
traitlets==5.9.0
nbformat==5.7.3
cachetools==5.3.0
jupyter-core==5.2.0
decorator==5.1.1
fonttools==4.38.0
jsonschema==4.17.3
beautifulsoup4==4.11.2
rsa==4.9
pexpect==4.8.0
typing-extensions==4.5.0
protobuf==3.19.6
h5py==3.8.0
matplotlib==3.7.0
anyio==3.6.2
jupyterlab==3.6.1
markdown==3.4.1
idna==3.4
opt-einsum==3.3.0
oauthlib==3.2.2
jinja2==3.1.2
threadpoolctl==3.1.0
prompt-toolkit==3.0.37
pyparsing==3.0.9
charset-normalizer==3.0.1
platformdirs==3.0.0
requests==2.28.2
pycparser==2.21
jupyterlab-server==2.19.0
fastjsonschema==2.16.3
google-auth==2.16.1
pygments==2.14.0
tensorboard==2.11.2
babel==2.11.0
tensorflow==2.11.0
tensorflow-estimator==2.11.0
keras==2.11.0
python-dateutil==2.8.2
soupsieve==2.4
jupyter-server==2.3.0
jsonpointer==2.3
werkzeug==2.2.3
asttokens==2.2.1
termcolor==2.2.0
markupsafe==2.1.2
python-json-logger==2.0.7
mistune==2.0.5
tomli==2.0.1
grpcio==1.51.3
urllib3==1.26.14
numpy==1.24.2
six==1.16.0
cffi==1.15.1
wrapt==1.14.1
webcolors==1.12
scipy==1.10.1
tensorboard-plugin-wit==1.8.1
send2trash==1.8.0
xgboost==1.7.4
debugpy==1.6.6
astunparse==1.6.3
nest-asyncio==1.5.6
pandas==1.5.3
websocket-client==1.5.1
fqdn==1.5.1
pandocfilters==1.5.0
kiwisolver==1.4.4
absl-py==1.4.0
keras-tuner==1.3.5
requests-oauthlib==1.3.1
sniffio==1.3.0
arrow==1.2.3
tinycss2==1.2.1
scikit-learn==1.2.1
uri-template==1.2.0
executing==1.2.0
joblib==1.2.0
contourpy==1.0.7
kt-legacy==1.0.5
wheel==0.38.4
tensorflow-io-gcs-filesystem==0.31.0
pyrsistent==0.19.3
jedi==0.18.2
aiosqlite==0.18.0
terminado==0.17.1
prometheus-client==0.16.0
seaborn==0.12.2
cycler==0.11.0
imbalanced-learn==0.10.1
scikeras==0.10.0
json5==0.9.11
parso==0.8.3
ypy-websocket==0.8.2
jupyter-server-fileid==0.8.0
pickleshare==0.7.5
nbclient==0.7.2
defusedxml==0.7.1
ptyprocess==0.7.0
jupyter-events==0.6.3
stack-data==0.6.2
tensorboard-data-server==0.6.1
jupyter-server-ydoc==0.6.1
y-py==0.5.9
nbclassic==0.5.2
webencodings==0.5.1
pyasn1==0.4.8
google-auth-oauthlib==0.4.6
jupyter-server-terminals==0.4.4
gast==0.4.0
pyasn1-modules==0.2.8
wcwidth==0.2.6
pure-eval==0.2.2
jupyterlab-pygments==0.2.2
notebook-shim==0.2.2
jupyter-ydoc==0.2.2
backcall==0.2.0
google-pasta==0.2.0
ipython-genutils==0.2.0
matplotlib-inline==0.1.6
rfc3339-validator==0.1.4
comm==0.1.2
rfc3986-validator==0.1.1

